<% include header.html %>

<script>
$(function() {
  $(".nav a:contains('Home')").parent().addClass('active');

  if (! localStorage.getItem("refresh")) {
      localStorage.setItem("refresh", 5000);
  }

  // Initial poll
  $(document).ready(function() {
    $.ajax({ url: '/poll',
             type: 'GET',
             success: function(data) { $("#wtf").html(data); },
           });
  });

  function poll() {
    setTimeout(function() {
      $.ajax({ url: '/poll',
               type: 'GET',
               success: function(data) { $("#wtf").html(data); },
               complete: poll
             });
    }, localStorage.getItem("refresh"));
  }

  poll();
});

</script>

<!-- Modal -->
<div class="modal" id="modal-hash" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-head-text">Hash</h4>
      </div>
      <div class="modal-body">
        <p id="modal-body-text"></p>
      </div>
    </div>
  </div>
</div>

<div class="bs-example" id="wtf">
    <div style="text-align: center">
      <i class="fa fa-refresh fa-spin" style="font-size: 24px;"></i>
    </div>
</div>

<% include footer.html %>
